package="synology-drive-sync"
version="@DSM_VERSION@"
os_min_ver="7.0-40759"
os_max_ver="7.4-99999"
displayname="Synology Drive Sync"
description="One-way local-folder sync to configurable remote Synology File Station folders"
arch="@ARCH@"
maintainer="supermarsx"
maintainer_url="https://github.com/supermarsx/synology-drive-sync"
helpurl="https://github.com/supermarsx/synology-drive-sync/tree/main/packaging/synology"
thirdparty="yes"
ctl_stop="yes"
ctl_uninstall="yes"
precheckstartstop="yes"
silent_install="yes"
silent_upgrade="yes"
silent_uninstall="no"
auto_upgrade_from="26.7-1"
extractsize="@EXTRACT_SIZE_KIB@"
checksum="@PACKAGE_TGZ_MD5@"
dsmuidir="synology-drive-sync:ui"
dsmappname="SYNO.SDS.App.SynologyDriveSync.Instance"
