about.hbs text eol=lf
about.toml text eol=lf
license.md text eol=lf
*.html text eol=lf
third_party_licenses.html -text -whitespace
*.sh text eol=lf
.config/*.env text eol=lf
packaging/synology/package/bin/* text eol=lf
packaging/synology/package/libexec/* text eol=lf
packaging/synology/scripts/* text eol=lf
packaging/synology/package/ui/index.html text eol=lf
Dockerfile text eol=lf
.dockerignore text eol=lf
compose*.yaml text eol=lf
.github/workflows/*.yml text eol=lf
*.rs text eol=lf
*.py text eol=lf
*.vue text eol=lf
*.css text eol=lf
*.mjs text eol=lf
*.js text eol=lf
*.md text eol=lf
*.toml text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
.gitattributes text eol=lf
*.config text eol=lf
*.conf text eol=lf
packaging/synology/package/ui/texts/**/strings text eol=lf
*.ps1 text eol=lf
