{
  "SYNO.SDS.App.SynologyDriveSync.Instance": {
    "type": "app",
    "title": "Synology Drive Sync",
    "desc": "app:description",
    "appWindow": "SYNO.SDS.App.SynologyDriveSync.Instance",
    "allUsers": false,
    "allowMultiInstance": false,
    "hidden": false,
    "icon": "images/icon_{0}.png",
    "preloadTexts": [
      "notifications:sync_succeeded_title",
      "notifications:sync_succeeded_message",
      "notifications:sync_failed_title",
      "notifications:sync_failed_message",
      "notifications:doctor_failed_title",
      "notifications:doctor_failed_message"
    ]
  }
}
